<%- include("partials/header"); -%>
<body class="gradient">

    <div class="jumbotron my-0 py-5 gradient">
        <h1 class="display-4">Welcome Aboard</h1>
        <br>
        <p class="lead"><strong>This is an online Auction Site. Here you can Sell your items or Buy Auctioned items for sale.</strong></p>
        <hr class="my-4">
        <p><strong>Hope you do enjoy your shopping/selling.</strong></p>
        <br>
        <br>
        <br>
        <!-- <form action="/" method="post">
            <button class="btn btn-success px-5 py-3 mx-4" name="button" type="submit" value="seller">SIGN UP</button>
            <button class="btn btn-success px-5 py-3 mx-4" name="button" type="submit" value="buyer">LOG IN</button>
        </form> -->
        <a href="/signup"><button class="btn btn-success px-5 py-3 mx-4">SIGN UP</button></a>
        <a href="/login"><button class="btn btn-success px-5 py-3 mx-4">LOG IN</button></a>
        <br><br>
    </div>

<%- include("partials/footer"); -%>