<%- include("partials/header"); -%>

<body class="gradient">

    <!-- for showing a single product details -->
    <div>

        <form action="/product/<%= userId %>" method="post" enctype="multipart/form-data" id="form-container">

            <div>
                <input type="text" name="productTitle" id="productTitle" placeholder="Enter Product Title" autocomplete="off" required class="input-field">
            </div>
            <div>
                <textarea name="productDescription" id="productDescription" cols="35" rows="5"
                placeholder="Enter Product Description" autocomplete="off" required class="input-field"></textarea>
            </div>
            <div>
                <input type="number" min="1" step="any" name="productPrice" id="productPrice" placeholder="Enter Product Price" autocomplete="off" required class="input-field"/>
            </div>
            <div>
                <input type="file" name="productImage" id="productImage" accept=".jpg, .jpeg, .png" required class="input-field">
            </div>
            <div>
                <input type="datetime-local" name="auctionTime" id="auctionTime"
                value= <%= date %> min="2022-10-28T00:00" class="input-field">
            </div>
            <div>
                <button class="btn form-button btn-success" type="submit">SUBMIT</button>
            </div>

        </form>

    </div>

<%- include("partials/footer"); -%>
